<% include ../partials/header.ejs %>
<!--=======================================================================-->

<div class="container text-center" id="comment_page">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <input type="text" class="form-control comm" name="username" placeholder="Username">
        <input type="password" class="form-control comm" name="password" placeholder="Password">
        <button class="btn btn-default"  type="submit">Log In</button>
    </form>
</div>

<!--=======================================================================-->
<% include ../partials/footer.ejs %>