<% include ../partials/header.ejs %>
<!--=======================================================================-->

<div class="container text-center" id="comment_page" data-aos="fade-up">
    <h1>Sign Up</h1>
    
    <form class="form-group" action="/register" method="POST">
        <input type="text" class="form-control comm" name="username" placeholder="Username">
        <input type="password" class="form-control comm" name="password" placeholder="Password">
        <button class="btn btn-default"  type="submit">Register</button>
    </form>
</div>

<!--=======================================================================-->
<% include ../partials/footer.ejs %>