<% include ../partials/header.ejs %>
<!--=======================================================================-->

<div class="container text-center">
    <h1>Create a new Campground</h1>
    
    <div id="comment_page">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <input type="text" class="form-control comm" placeholder="Name" name="name">
                <input type="text" class="form-control comm" placeholder="Image URL" name="img_url">
                <textarea class="form-control comm txt" placeholder="Write something about the Campsite.." name="description"
                rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block form-group">Submit</button>
        </form>
    </div>
    <a href="/campgrounds" class="btn btn-default"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to campgrounds</a>

<!--=======================================================================-->
<% include ../partials/footer.ejs %>
</div>