<% include ../partials/header.ejs %>
<!--=======================================================================-->
<script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.API_KEY%>&libraries=places">></script>
<script>
    function initialize() {
        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="container text-center">
    <h1>Create a new Campground</h1>
    
    <div id="comment_page">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <input type="text" class="form-control comm" placeholder="Name of the campground" name="name">
                <input type="text" id="searchTextField" class="form-control comm" placeholder="Address" name="place">
                <input type="text" class="form-control comm" placeholder="Image URL" name="img_url">
                
                <!--<input type="text" class="form-control comm" placeholder="Price" name="price">-->
                <!--PRICE -->
                <label class="sr-only" for="exampleInputAmount">Amount (in Rupees)</label>
                    <div class="input-group" id="space">
                      <div class="input-group-addon">₹</div>
                      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Price" name="price">
                      <div class="input-group-addon">/night</div>
                    </div>
                
                <textarea class="form-control comm txt" placeholder="Write something about the Campsite.." name="description"
                rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block form-group">Submit</button>
        </form>
    </div>
    <a href="/campgrounds" class="btn btn-default"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to campgrounds</a>

<!--=======================================================================-->
<% include ../partials/footer.ejs %>
</div>