body
{
    background :url(http://www.hdwallpapers.in/walls/night_camp_sky_stars-wide.jpg);
    background-size: cover;
    background-position: center; 
    
}
html,body
{
	height: 100%;
	width: 100% ;
}
