
#map{
    height: 330px !important;
    width: 100%   !important;
}
#comment_page
{
    width  : 419px;
    /*width :30%;*/
    margin : 15px auto 15px auto;
}
.btn
{
    outline: none !important;
}
.form-control.comm , #space ,.panel
{
    margin-bottom: 15px;
}

.form-control.comm.txt
{
    resize: vertical;
}

#camp
{
    padding-bottom: 5px;
}
#camp h4
{
    display: inline;
}
#camp #rate
{
    margin: 0;
}
#del_button
{
    display :inline;
}
#head_camp
{
    text-align :center;
}

.row
{
    display:flex;
    flex-wrap: wrap;
}
body
{
    padding-bottom: 30px; 
    padding-top: 70px;
}
.fa-free-code-camp
{
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    margin-top:5px;
    float:left; 
}
.navbar-default .navbar-brand
{
    font-weight:bold;
}
img
{
    width: 100%;
}
.thumbnail
{
    padding:0;
}
hr
{
    margin:10px 0 10px 0 ;
}
.well
{
    padding :9px ;
}